:root{
  --base: #4caf50;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.h1{
    color: var (--base);
}



    /*
      misc styles, nothing to do with CSS variables
    */

    body {
      text-align: center;
    }

    body {
      background: rgba(20, 66, 18, 0.87);
      color: white;
      font-family: 'Papyrus';
      font-weight: 100;
      font-size: 25px;
    }

    .controls {
      margin-bottom: 50px;
    }

    input {
      width:100px;
    }
